@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chakra Petch:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;*/
    background-color: #89973C;
}

main{
    text-align: center;
    padding-top: 80px;
}

.img-animal{
  border-radius: 10px 10px 0px 0px;
  max-height: 300px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.container{
  margin: auto;
  max-width: 600px;
  height: 600px;
  max-height: 1000px;
  background-color: #E6DFCB;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.39);
  display: flex;
  align-content: center;
  flex-direction: column;
  overflow: hidden;
}

.container p{
  font-size: 20px;
  margin-bottom: 10px;
}

.animal{
  margin-top: 2;
  margin-left: 0;
  color: #89973C;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.39);
}

h1{
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  color: #6B5726;
  margin-top: 0;
  margin-left: 0;
  text-align: center;
  padding-bottom: 20px;
}

h2{
  font-family: 'Chakra Petch', sans-serif;
  color: #6B5726;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-home{
  font-size: 18px;
}

.animalp1{
  width: 200px;
  height: 150px;
  border-radius: 20px;
  object-fit: contain;
  border-radius: 40px;
}

.animalp2{
  width: 200px;
  height: 135px;
  object-fit: contain;
  border-radius: 50px;
}

.animalp3{
  width: 150px;
  height: 150px;
  border-radius: 50px;
}

.coluna{
  float: left;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

p{
  font-family: 'Poppins', sans-serif;
  color: #42371a;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px 2px;
}

.nome{
  margin-bottom: 0px;
}

.nome-latin{
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
}

.navbar{
    font-family: 'Chakra Petch', sans-serif;
    position: fixed;
    background-color: #E6DFCB;
    width: 100%;
    height: 10vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.39);
}

li{
    list-style: none;
}

.navbar ul{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0  4rem;
    gap: 3rem;
}

.navbar a{
    text-decoration: none;
    color: #6B5726;
}

.navbar a:hover{
  background-color: #6B5726;
  color: #E6DFCB;
  padding: 5px;
  border-radius: 5px;
}

.btn {
  margin-top: 5px;
  background-color: #89973C;
  border: 0;
  font-family: 'Chakra Petch', sans-serif;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 12px 32px;
  color: #6B5726;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

footer{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}